// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar {
  
  .wday-0 {
    color: #ff505c;
  }
  .wday-6 {
    color: #5984dc;
  }
  .today {
    background: #FFFF8c;
  }
}